.header{display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10px;
color: black;
}


.nav{
background: color black;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}


li {
  float: left;
}


li a {
  display: block;
  color: lightgoldenrodyellow;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
}


li a:hover {
  background-color: brown;
}


.Letter{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("wax.webp");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


h1{
  text-align: left;
  color: tan;
  margin:20px;
  padding: 20 px;
  vertical-align: 20px;
}


li a {
  display: block;
  color: lightgoldenrodyellow;
  padding: 14px 16px;
  text-decoration: none;
}


body{
margin:0;
  padding:0;
  height:100vh;
  font-family:"Times New Roman", Times, serif;
  background-color: #2e130b;
}


.footer {
  background-color: #2e130b;
  text-align: center;
  padding: 10px;
  height: 40px;
  color: tan;
}


i{
  color: tan;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 10%;
}

.form{
  text-align: center;
  background-color: tan;

}